<div class="well well-small">
	<p>
		<b>Commenter:</b>
		<%= comment.commenter %>
	</p>

	<p>
		<b>Comment:</b>
		<%= comment.body %>
	</p>
</div>

 	<p>
  	<%= link_to 'Delete Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right btn btn-mini btn-danger' %>
  </p>
