<div class="well well-small">
	<p>
		<b>Name:</b>
		<%= comment.commenter %>
	</p>

	<p>
		<b>Comment:</b>
		<%= markdown(comment.body) %>
	</p>
</div>
	
	<% if signed_in? && current_user.admin? %>
 	<p>
  	<%= link_to 'Delete Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right btn btn-mini btn-danger' %>
  </p>
  <% end %>
