<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9 offset1">
          <%= link_to image_tag("TransHamco.png", alt: "Hamco Internet Solutions"), root_path, class: 'brand' %>
          <div class='saying'><%= Slogan.order("RANDOM()").first.name %></div>
        </div>
      </div>
    </div>
  </nav>
</header>