
  
        <div class="col-sm-1 col-sm-offset-1">
          <ul class="nav nav-pills nav-stacked">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: (current_page?(root_path) ? 'nav-link active' : 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to 'Articles', articles_path, class: (current_page?(articles_path) ? 'nav-link active' : 'nav-link') %>
            </li>
          </ul>
        </div>