            <div class="span3">
            <img class="paperclip" <%= image_tag("paperclip.png", alt: "paperclip") %> </>
            <div class="sidebar">
              <h3>Stuff I like.</h3>
              <h4>Links to peek at.</h4>
              <h5>Just whatever.</h5>
              <p>"Writing whatever because I want to see it wrap and stuff."<br>
              <a href="#">See More</a>
              </p> 
            </div>
            </div>